<form action='{{ visanet_url }}' method='POST'>
<input type='hidden' value='{{ visanet_eticket }}' name='Eticket'>
</form>

<script language="JavaScript" type="text/javascript">
    var form = document.forms[0];
    form.submit();
</script>