<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="PaymentSuite Test Suite">
            <directory>./src/PaymentSuite/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/PaymentSuite/</directory>
            <exclude>
                <directory>./src/PaymentSuite/*/Tests</directory>
                <directory>./src/PaymentSuite/*/Resources</directory>
                <directory>./src/PaymentSuite/*/Vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
