<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="PaymentSuite Test Suite">
            <directory>./src/PaymentSuite/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/PaymentSuite/</directory>
            <exclude>
                <directory>./src/PaymentSuite/*/Tests</directory>
                <directory>./src/PaymentSuite/*/Resources</directory>
                <directory>./src/PaymentSuite/*/Vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="GESTPAY_SHOP_LOGIN" value="GESPAYXXXX"/>
        <env name="GESTPAY_API_KEY" value="api-key"/>
        <env name="STRIPE_API_KEY" value="api-key"/>
        <env name="ENABLE_API_INTEGRATION" value="false"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <element key="time-sensitive">
                        <string>PaymentSuite\GestpayBundle\Services\Tests</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

</phpunit>
