services:

    pagosonline_gateway.form.type.wrapper:
        class: %pagosonline_gateway.form.type.wrapper.class%
        arguments:
            form.factory: @form.factory
            payment.bridge: @payment.bridge
            pagosonline_gateway.user_id: %pagosonline_gateway.user_id%
            pagosonline_gateway.key: %pagosonline_gateway.key%
            pagosonline_gateway.test: %pagosonline_gateway.test%
            pagosonline_gateway.gateway: %pagosonline_gateway.gateway%
        tags:
            - { name: form.type, alias: pagosonlinegateway_view }

    pagosonline_gateway.routes.loader:
        class: %pagosonline_gateway.routes.loader.class%
        arguments:
            pagosonline_gateway.controller.route: %pagosonline_gateway.controller.route%
            pagosonline_gateway.controller.route.name: %pagosonline_gateway.controller.route.name%
            pagosonline_gateway.controller.route.confirmation: %pagosonline_gateway.controller.route.confirmation%
            pagosonline_gateway.controller.route.confirmation.name: %pagosonline_gateway.controller.route.confirmation.name%
            pagosonline_gateway.controller.route.response: %pagosonline_gateway.controller.route.response%
            pagosonline_gateway.controller.route.response.name: %pagosonline_gateway.controller.route.response.name%
        tags:
            - { name: routing.loader }

    pagosonline_gateway.manager:
        class: %pagosonline_gateway.manager.class%
        arguments:
           payment.event.dispatcher: @payment.event.dispatcher
           payment.bridge: @payment.bridge
           logger: @logger
           pagosonline.account_id: %pagosonline.account_id%
           pagosonline_comm.manager: @pagosonline_comm.manager
