{{ form(form) }}
{#
    <a href="{{ path('paypal_express_checkout_execute')}}" data-paypal-button="true">
        <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
    </a>
#}
