<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>


    {{ form(redsys_form) }}

    <script language="JavaScript" type="text/javascript">

        var form = document.forms[0];
        form.submit();

    </script>
    </body>
</html>
